Source: gz-harmonic
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               libgz-cmake3-dev,
               libgz-common5-dev,
               libgz-fuel-tools8-dev,
               libgz-sim7-dev,
               libgz-gui7-dev,
               libgz-launch6-dev,
               libgz-math7-dev,
               libgz-math7-eigen3-dev,
               libgz-msgs9-dev,
               libgz-physics6-dev,
               libgz-plugin2-dev,
               libgz-rendering7-dev,
               libgz-sensors7-dev,
               libgz-tools2-dev,
               libgz-transport12-dev,
               libgz-utils2-cli-dev,
               libgz-utils2-dev,
               libsdformat13-dev
Vcs-Browser: https://github.com/gazebo-release/gz-harmonic-release
Vcs-Git: https://github.com/gazebo-release/gz-harmonic-release
Homepage: http://gazebosim.org/

Package: gz-harmonic
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-dev,
         libgz-fuel-tools8-dev,
         libgz-sim7-dev,
         libgz-gui7-dev,
         libgz-launch6-dev,
         libgz-math7-dev,
         libgz-math7-eigen3-dev,
         libgz-msgs9-dev,
         libgz-physics6-dev,
         libgz-plugin2-dev,
         libgz-rendering7-dev,
         libgz-sensors7-dev,
         libgz-tools2-dev,
         libgz-transport12-dev,
         libgz-utils2-cli-dev,
         libgz-utils2-dev,
         libsdformat13-dev,
         gz-launch6-cli,
         gz-plugin2-cli,
         gz-sim7-cli,
         gz-transport12-cli,
         python3-gz-math7,
         python3-gz-sim7,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of Gazebo packages - Garden
  This is a metapackage used for triggering the whole collection of Gazebo
  packages corresponding to the Garden collection
