Source: gz-ionic
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 13),
               libgz-cmake4-dev,
               libgz-common6-dev,
               libgz-fuel-tools10-dev,
               libgz-sim9-dev,
               libgz-gui9-dev,
               libgz-launch8-dev,
               libgz-math8-dev,
               libgz-msgs11-dev,
               libgz-physics8-dev,
               libgz-plugin3-dev,
               libgz-rendering9-dev,
               libgz-sensors9-dev,
               libgz-tools2-dev,
               libgz-transport14-dev,
               libgz-utils3-cli-dev,
               libgz-utils3-dev,
               libsdformat15-dev
Vcs-Browser: https://github.com/gazebo-release/gz-ionic-release
Vcs-Git: https://github.com/gazebo-release/gz-ionic-release
Homepage: http://gazebosim.org/

Package: gz-ionic
Architecture: any
Section: libdevel
Depends: libgz-cmake4-dev,
         libgz-common6-dev,
         libgz-fuel-tools10-dev,
         libgz-sim9-dev,
         libgz-gui9-dev,
         libgz-launch8-dev,
         libgz-math8-dev,
         libgz-msgs11-dev,
         libgz-physics8-dev,
         libgz-plugin3-dev,
         libgz-rendering9-dev,
         libgz-sensors9-dev,
         libgz-tools2-dev,
         libgz-transport14-dev,
         libgz-utils3-cli-dev,
         libgz-utils3-dev,
         libsdformat15-dev,
         gz-launch8-cli,
         gz-plugin3-cli,
         gz-sim9-cli,
         gz-transport14-cli,
         python3-gz-math8,
         python3-gz-msgs11,
         python3-gz-sim9,
         python3-gz-transport14,
         python3-sdformat15,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of Gazebo packages - Ionic
  This is a metapackage used for triggering the whole collection of Gazebo
  packages corresponding to the Ionic collection
