Source: gz-jetty
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 13),
               libgz-cmake5-dev,
               libgz-common7-dev,
               libgz-fuel-tools11-dev,
               libgz-sim10-dev,
               libgz-gui10-dev,
               libgz-launch9-dev,
               libgz-math9-dev,
               libgz-msgs12-dev,
               libgz-physics9-dev,
               libgz-plugin4-dev,
               libgz-rendering10-dev,
               libgz-sensors10-dev,
               libgz-tools2-dev,
               libgz-transport15-dev,
               libgz-utils4-cli-dev,
               libgz-utils4-dev,
               libsdformat16-dev
Vcs-Browser: https://github.com/gazebo-release/gz-jetty-release
Vcs-Git: https://github.com/gazebo-release/gz-jetty-release
Homepage: http://gazebosim.org/

Package: gz-jetty-cmake
Depends: libgz-cmake5-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Jetty without exposing the version number.

Package: gz-jetty-utils-cli
Depends: libgz-utils4-cli-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Jetty without exposing the version number.

Package: gz-jetty-utils-log
Depends: libgz-utils4-log-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Jetty without exposing the version number.

Package: gz-jetty-utils
Depends: libgz-utils4-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Jetty without exposing the version number.


Package: gz-jetty
Architecture: any
Section: libdevel
Depends: gz-jetty-cmake,
         libgz-common7-dev,
         libgz-fuel-tools11-dev,
         libgz-sim10-dev,
         libgz-gui10-dev,
         libgz-launch9-dev,
         libgz-math9-dev,
         libgz-msgs12-dev,
         libgz-physics9-dev,
         libgz-plugin4-dev,
         libgz-rendering10-dev,
         libgz-sensors10-dev,
         libgz-tools2-dev,
         libgz-transport15-dev,
         libgz-utils4-cli-dev,
         gz-jetty-utils-cli,
         gz-jetty-utils-log,
         gz-jetty-utils,
         libsdformat16-dev,
         gz-launch9-cli,
         gz-plugin4-cli,
         gz-sim10-cli,
         gz-transport15-cli,
         python3-gz-math9,
         python3-gz-msgs12,
         python3-gz-sim10,
         python3-gz-transport15,
         python3-sdformat16,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of Gazebo packages - Jetty
  This is a metapackage used for triggering the whole collection of Gazebo
  packages corresponding to the Jetty collection
